.list{
    position:relative;
    top:0px;
    left:0px;
    border: 1px solid black;

}

.list-wrapper{
    position:absolute;
    top:0px;
    left:0px;
    overflow: hidden;
    height: 100%;
}

.list-content{
    position:absolute;
    top:0px;
    left:0px;
    height: 100%;
    width : 100%;
}

.listVerticalScrollLine{
    position:absolute;
    top:0px;
    right:0px;
    height: 100%;
    width: 20px;
    background-color:red;
}

.listVerticalScrollBar{
    position:absolute;
    top:0px;
    right:0px;
    width: 10px;
    height: 20px;
    background-color:blue;
}